<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>다짐 - 매니저</title>
  <link rel="stylesheet" href="http://localhost:8080/css/manager/common/common.css" type="text/css">
  <!--<link rel="stylesheet" href="http://localhost:8080/css/manager/gym-info.css" type="text/css">-->
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script language="javascript" type="text/javascript" src="http://localhost:8080/js/manager/common.js"></script>
</head>
<body>
<header th:replace="/manager/common/header.html :: header"></header>
<div class="gym-info-container">
  <div class="gym-info-content">
  </div>
</div>
</body>
</html>