<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>다짐 - 운동할 땐, 다짐부터</title>
    <link rel="stylesheet" href="http://localhost:8080/css/user/common/common.css" type="text/css">
    <link rel="stylesheet" href="http://localhost:8080/css/user/index.css" type="text/css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script language="javascript" type="text/javascript" src="http://localhost:8080/js/user/common.js"></script>
    <script>
        $(document).ready(function(){
            $(".banner-unit").first().addClass("active");
            $(".banner-main").attr("src", $(".banner-unit.active").attr("bgurl"));
            $(".banner").css("background-image", "url(" + $(".banner-unit.active").attr("bgurl") + ")");
            $(".banner-unit").on("click", function(){
                // 버튼 색 변경
                $(".banner-unit").removeClass("active");
                $(this).addClass("active");
                $(".banner-main").attr("src", $(".banner-unit.active").attr("bgurl"));
                $(".banner").css("background-image", "url(" + $(".banner-unit.active").attr("bgurl") + ")");
            });
        });
    </script>
</head>
<body>
    <header th:replace="/user/common/header.html :: header"></header>
    <div class="index-container">
        <div class="index-content">
            <div class="banner">
                <div class="banner-content">
                    <img th:attr="src=${banner[0]}" class="banner-main">
                    <div class="banner-bundle">
                        <div class="banner-unit" th:each="bannerUrl : ${banner}" th:attr="bgurl=${bannerUrl}"></div>
                    </div>
                    <div class="banner-button">
                        <a href=""><div class="banner-btn" style="background-color:#5467f5;color:white">내 주변 운동시설 보기</div></a>
                        <a href=""><div class="banner-btn" style="background-color:white;color:#5467f5">다짐 이용백서</div></a>
                    </div>
                </div>
            </div>
            <div class="ad-top">
                <a href=""><img th:attr="src=${adTop}"></a>
            </div>
            <div class="exhibition" style="background-image: linear-gradient(rgb(68, 88, 233) 50%, white 50%);">
                <h2>다짐에서는 영상으로 센터를 볼 수 있다구!</h2>
                <p>원하는 센터를 클릭해 보세요. 센터 소개영상이 있어요.</p>
                <button class="exhibition-left-btn"><</button><button class="exhibition-right-btn">></button>
                <div class="exhibition-bundle">
                    <a th:href="@{/user/gym/detail(uid=${exhibition[0]})}" th:each="exhibition : ${exhibition1}">
                        <div class="exhibition-unit">
                            <div class="exhibition-img-container">
                                <img th:attr="src=${exhibition[2]},alt=${exhibition[1]}">
                            </div>
                            <span th:text="${exhibition[1]}"></span>
                        </div>
                        <div class="exhibition-unit">
                            <div class="exhibition-img-container">
                                <img th:attr="src=${exhibition[2]},alt=${exhibition[1]}">
                            </div>
                            <span th:text="${exhibition[1]}"></span>
                        </div>
                        <div class="exhibition-unit">
                            <div class="exhibition-img-container">
                                <img th:attr="src=${exhibition[2]},alt=${exhibition[1]}">
                            </div>
                            <span th:text="${exhibition[1]}"></span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="exhibition" style="background-image: linear-gradient(rgb(131, 138, 176) 50%, white 50%);">
                <h2>겨울맞이 선착순 우주최저가 할인 센터</h2>
                <p>다짐 앱에서만 이 가격? 한번 구경해보세요</p>
                <button class="exhibition-left-btn"><</button><button class="exhibition-right-btn">></button>
                <div class="exhibition-bundle">
                    <a th:href="@{/user/gym/detail(uid=${exhibition[0]})}" th:each="exhibition : ${exhibition2}">
                        <div class="exhibition-unit">
                            <div class="exhibition-img-container">
                                <img th:attr="src=${exhibition[2]},alt=${exhibition[1]}">
                            </div>
                            <span th:text="${exhibition[1]}"></span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="ad-bottom">
                <a href=""><img th:attr="src=${adBottom}"></a>
            </div>
        </div>
    </div>
    <footer th:replace="/user/common/footer.html :: footer"></footer>
</body>
</html>